@import "../../../styles/variables";

$border: 5px;
$dark: #333;
$neon: #33ff00;

.container {
  position: relative;
  z-index: 10;
  margin: 0 auto;
}

.content_table {
  border-collapse: collapse;
  margin: 1em 1em;

  font-size: 1em;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content_table thead tr {
  background-color: #08332f;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content_table th,
.content_table td {
  padding: 1em 0.75em;
  text-align: left;
}

.content_table tbody tr {
  background-color: $white;
  border-bottom: 0.1em solid #dddddd;
}

.content_table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  font-weight: bold;
  color: #009879;
}

.content_table tbody tr:last-of-type{
  border-bottom: 0.1em solid #009879;
}

.container_button_edit,
.container_button_delete {
  padding: 10px;
  border: 2px solid $black;
  border-radius: 10px;
  color: $black;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: $dark;
    background-color: #F6E60C;
    transition: 0.3s ease;
  }
}

.container_button_edit {
  margin-right: 0.2em;
  background-color: #33ff00;
}

.container_button_delete {
  margin-left: 0.2em;
  background-color: crimson;
}

.container_button {
  text-align: center;
  margin: 2em;
}

.button {
  position: relative;
  text-align: center;
  margin: 1em;
  padding: 0.3em;
  color: $neon;
  font-family: Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #1b1b1b;
  font-size: 2.5em;
  letter-spacing: 3px;
  overflow: hidden;
  cursor: pointer;
  border: 0.1em solid $neon;
  border-radius: 100px;
  transition: 1.5s ease;

  &:hover {
    color: $dark;
    background-color: $neon;
    transition-delay: .5s;
    box-shadow: 0 0 10px $neon,
                0 0 40px $neon,
                0 0 80px $neon;
    span {
      &:nth-child(1) {left: 100%;}
      &:nth-child(2) {top: 100%;}
      &:nth-child(3) {right: 100%;}
      &:nth-child(4) {bottom: 100%;}
    }
  }

  span {
    display: block;
    position: absolute;
    transition: .6s ease;

    &:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: $border;
      background: linear-gradient(90deg, transparent, $neon);
      transition-delay: .25s;
    }

    &:nth-child(2) {
      top: -100%;
      right: 0;
      width: $border;
      height: 100%;
      background: linear-gradient(180deg, transparent, $neon);
    }

    &:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: $border;
      background: linear-gradient(270deg, transparent, $neon);
      transition-delay: .25s;
    }

    &:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: $border;
      height: 100%;
      background: linear-gradient(0, transparent, $neon);
    }
  }
}